<div class="container-fluid">
  <div class="row">
    <div class="col bg-danger text-white">
      <a class=navbar-brand>Online Store</a>
    </div>
  </div>
  <div class="row text-white">
    <div class="col-3 bg-info p-2">
      <button class="btn btn-block btn-outline-primary w-100" (click)="changeCategory()">All</button>
      <button class="btn btn-block btn-outline-primary w-100"
              [class.active]="selectedCategory===category"
              *ngFor="let category of categories"
              (click)="changeCategory(category)">{{category}}</button>
    </div>
    <div class="col-9 bg-success p-2">
      <div class="card m-1 bg-dark" *ngFor="let product of products">
        <h4 class="m-1">
          {{product.name}}
          <span class="badge rounded-pill bg-danger  float-end">
            {{product.price|currency:'USD':'symbol':'2.2-2'}}</span>
        </h4>
        <div class="card-text bg-dark p-1">{{product.description}}</div>
      </div>
    </div>
  </div>
  <div class="row float-start">
    <div class="form-control">
      <label for="pageSize">Page size:</label>
      <select id="pageSize"
              [value]="productsPerPage"
              (change)="changePageSize($event)">
        <option value="2">2</option>
        <option value="4">4</option>
      </select>
    </div>

  </div>
  <div class="btn-group float-end">
    <button
      *ngFor="let page of pageNumbers"
      class="btn btn-outline-dark"
      [class.active]="page===currentPage"
      (click)="changePage(page)">{{page}}
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-primary" [disabled]="currentPage===1"
            (click)="changePage(currentPage-1)"><<
    </button>
    <button class="btn btn-primary" [disabled]="isNextDisabled()"
            (click)="changePage(currentPage+1)">>>
    </button>
  </div>
  <div class="row justify-content-center">
    <p>{{this.pageNumbers|json}}</p>
  </div>
</div>
